@import url(reset.css);

:root {
    --raisin-black: #272624;
    --light-black: #323232;
    --crayola-gold: #E3BB8A;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Palatino linotype;
    src: url(../fonts/palatino-linotype/pala.ttf);
}

@font-face {
    font-family: Palatino linotype;
    src: url(../fonts/palatino-linotype/palab.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Proxima nova;
    src: url(../fonts/proxima-nova/ProximaNova-Regular.otf);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

h1 {
    font-size: 36px;
    font-family: 'Palatino linotype';
    color: var(--crayola-gold);
    margin: 60px auto;
    letter-spacing: 3px;
    text-align: center;
}

b {
    font-weight: bold;
}

.container {
    width: 340px;
}

.btn {
    width: fit-content;
    display: flex;
    padding: 12px 41px;
    font-size: 16px;
    font-family: 'Proxima nova';
    font-weight: bold;
    border: 1px solid var(--light-black);
    color: white;
    background-color: var(--light-black);
    cursor: pointer;
    text-decoration: none;
    transition: .5s all;
}

.btn:hover {
    border: 1px solid var(--crayola-gold);
    color: var(--crayola-gold);
    background-color: #333;
}

.btn--light {
    background-color: white;
    color: #333;
}

.btn--light:hover {
    background-color: #333;
    border: 1px solid var(--crayola-gold);
    color: var(--crayola-gold);
}
  
.navbar {
    width: 100%;
    height: 90px;
    background-color: white;
    overflow-x: hidden;
}

.navbar .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .container > img {
    max-height: 90px;
    margin-left: calc(50% - 35px);
}

.navbar__button {
    width: 23px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 25px;
}

.navbar__button > span {
    width: 100%;
    height: 2px;
    background-color: black;
    position: relative;
    transition: 0.3s all ease-in-out;
    z-index: 1;
}

.navbar__button > span:nth-of-type(1) {
    transform: unset;
    top: 0;
}

.navbar__button > span:nth-of-type(2) {
    left: 0;
}

.navbar__button > span:nth-of-type(3) {
    transform: unset;
    bottom: 0;
}

.navbar__menu {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -220px;
    background-color: var(--raisin-black);
    text-align: center;
    border-bottom: 1px solid var(--crayola-gold);
    filter: drop-shadow(5px 5px 15px black);
    transition: 0.5s all ease-in;
}

.navbar__links {
    width: 70%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.navbar__links > a {
    font-size: 24px;
    font-family: 'Palatino linotype';
    text-decoration: none;
    color: white;
}

.navbar__links > a:hover {
    color: var(--crayola-gold);
}

.go-top {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: var(--light-black);
    cursor: pointer;
    display: none;
}

.go-top img {
    max-width: 50px;
    height: auto;
}

.go-top:hover {
    border: 2px solid var(--crayola-gold);
}

.home {
    background-color: var(--raisin-black);
}

.home .container > p {
    font-size: 18px;
    font-family: 'Palantino linotype';
    line-height: 180%;
    letter-spacing: 2px;
    color: white;
}

.home .btn {
    margin: 50px auto;
}

.about {
    background-color: white;
    font-family: 'Proxima nova';
}

.about h2, .offer h2 {
    font-size: 28px;
    color: var(--crayola-gold);
    margin: 80px auto 40px auto;
    text-align: center;
}

.about p {
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #333;
}

.about .btn {
    margin: 40px auto 30px auto;
}

.about__image {
    width: 100%;
    height: 300px;
    background-image: url(../images/about/bg.webp);
    background-size: cover;
    background-position: center;
}

.offer {
    background-color: var(--raisin-black);
    font-family: 'Proxima nova'
}

.offer h2 {
    margin: 40px 0 10px 0;
}

.offer h4 {
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    text-align: center;
}

.offer__list {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 30px;
    margin: 50px 0;
}

.offer__list .btn {
    margin-top: 5px;
}

.offer__list__item {
    width: 90%;
    height: fit-content;
    padding: 10px 0;
    background-color: white;
    justify-self: center;
    transition: .5s all;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.offer__list__item--gold {
    background-color: var(--crayola-gold);
}

.offer__info {
    width: 90%;
    height: 43px;
    overflow: hidden;
    transition: .5s all;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer__info > h4 {
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.offer__info__list {
    width: 100%;
    margin-top: 12px;
}

.offer__info__list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px 0;
}

.offer__info__list__item h5, .offer__info__list__item h6 {
    font-size: 20px;
    font-weight: bold;
    line-height: 120%;
}

.offer__info__list__item h6 {
    font-size: 18px;
    line-height: 160%;
}

.offer__info__list__item > span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offer__info__list p {
    width: 25%;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    display: flex;
    flex-direction: column;
    line-height: 120%;
}

footer {
    background-color: white;
    height: 50px;
    text-align: center;
}

.copyright {
    font-size: 16px;
    font-family: 'Palatino linotype';
    line-height: 180%;
    margin: 30px 0;
}
  
.copyright sup {
    font-size: 10px;
    position: relative;
    bottom: 5px;
}  

.copyright a {
    text-decoration: none;
}

/* Landscape phone */
@media only screen and (min-width: 576px) {
    h1 {
        letter-spacing: 2px;
    }

    .container {
        width: 540px;
    }

    .home .container > p {
        font-size: 19px;
    }

    .about h2, .offer h2 {
        font-size: 32px;
    }

    .about p {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .copyright {
        font-size: 18px;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 38px;
        letter-spacing: 2px;
        word-spacing: 2px;
        width: 90%;
    }

    .container {
        width: 720px;
    }
    
    .btn {
        font-size: 16px;
        padding: 12px 30px;
    }

    .home .container p, .about p {
        width: 85%;
        margin: 0 auto;
    }

    .offer__list {
        grid-template-columns:calc(100% / 3 - 4px) calc(100% / 3 - 4px) calc(100% / 3 - 4px);
        gap: 6px;
    }

    .offer__list__item .btn {
        margin-top: 8px;
    }

    .offer__list__item {
        width: 100%;
        height: 235px;
    }

    .offer__info {
        margin-top: 65px;
        height: 44px;
    }
}

/* Laptop */
@media only screen and (min-width: 992px) {
    h1 {
        width: 70%;
        word-spacing: 1px;
        letter-spacing: 2px;
    }
    .container {
        width: 940px;
    }

    .btn {
        font-size: 18px;
    }

    .home .container > p {
        width: 65%;
    }

    .about {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
    }
    .about .container {
        width: 100%;
    }

    .about p {
        width: 65%;
    }

    .about__image {
        height: 100%;
    }

    .offer__list {
        grid-template-columns:calc(100% / 3 - 4px) calc(100% / 3 - 4px) calc(100% / 3 - 4px);
        gap: 6px;
    }

    .offer__list__item {
        height: 305px;
    }

    .offer__list__item .btn {
        margin-bottom: 30px;
    }

    .offer__info {
        margin-top: 95px;
        height: 55px;
    }

    .offer__info h4 {
        font-size: 28px;
    }

    .offer__info__list {
        margin-top: 16px;
    }

    .copyright {
        font-size: 20px;
    }

    .copyright sup {
        font-size: 12px;
    }
}

/* Desktop */
@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 42px;
        width: 100%;
        word-spacing: 2px;
    }

    .container {
        width: 1140px;
    }

    .btn {
        font-size: 20px;
    }

    .home .container > p {
        width: 75%;
        font-size: 22px;
    }

    .about {
        grid-template-rows: 700px;
    }

    .about h2, .offer h2 {
        font-size: 36px
    }

    .about p {
        font-size: 20px;
    }

    .offer__list {
        grid-template-columns:calc(100% / 3 - 8px) calc(100% / 3 - 8px) calc(100% / 3 - 8px);
        gap: 12px;
    }

    .offer__info__list__item h5 {
        font-size: 22px;
    }

    .offer__info__list__item h6 {
        font-size: 20px;
    }
}